header
{
	font-size: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body
{
	background-color: #D83F87;
	font-family: Helvetica;
	font-size: 150% ;
	line-height: 50px;
	margin: 0;
	padding: none;
	max-width: 100%;
    overflow-x: hidden;
    color: white;
}



.main-nav
{
	display:flex;
	flex-wrap: wrap;
	background-color: #2A1B3D;
	width: 100%;
	transition: all 0.7s;
}

.menu
{
	margin-left: 30px;
	margin-top: 20px;
	width: 600px;
}

.close
{
	cursor: pointer;
}


.top
{
	background-color: #05386B;
	height: 60px;
	color: white;
	width:100%;

}

#SideBar
{
	display: grid;
	position: fixed;
	top: 0;
	left: -500px;
	height: 1400px;
	margin: 0px;
	width: 500px;
	background-color: #2A1B3D;
	z-index: 7;
	transition: all 0.5s;

}



.g1
{
	text-align: justify-all;
	width: 500px;
	height: 60px;
	align-content: flex-end;
	color: white;
	transition: all 0.1s;
	padding: 0px;
	border-radius: 30px;
}

.g1:hover
{
	font-size: 105%;
	background-image: linear-gradient(to right, rgba(255,255,255,0.3) , rgba(255,255,255,0.2),rgba(255,255,255,0.1),rgba(255,255,255,0) );
}




#scroll_bar
{
	display: inline-block;
	overflow: hidden;
	position: fixed;
	font-size: 20px;
	top: -80px;
	height: 50px;
	width: 100%;
	background-color: #2A1B3D;
	z-index: 7;
	transition: all 0.5s;
}

#scroll_bar a
{
	margin-left: 20px;
	position: center;
	margin-right: 20px;
}

#scroll_bar a:hover
{
	font-size: 105%;
	background-image: linear-gradient(to right, rgba(255,255,255,0.3) , rgba(255,255,255,0.2),rgba(255,255,255,0.1),rgba(255,255,255,0) );
}

#banner
{
	font-size: 40px;
	background:linear-gradient(to right, #44318D, #904E95);
	position: relative;
	top:-20px;
	padding: 20px;
	height: 400px;
	color: white;
	z-index: -1;
	width:100%;
	transform: skewY(-2deg);
	box-shadow: 2px 2px 2px 2px #888888;
	margin-bottom: none;
}

#banner p
{
	transform: skewY(2deg);
}

.head-content
{
	top:200px;
	position: absolute;
	width:330px;
	height: 200px;
	padding: 5px;
	background-color:#D83F87;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.box
{
	top:210px;
	position: absolute;
	width:350px;
	height: 210px;
	background-color:#FFFFFF;
}


.steps
{
	margin:0px;
	margin-left: 500px;
	position: absolute;
	top:140px;
	height: 500px;
	width: 100%
}


.expand img
{
	margin-left: 2px;
	vertical-align: middle;
	overflow: hidden;
}
.expand
{
	overflow: hidden;
	outline-style:none;
	width: 66px;
	height: 66px;
	background-color: white;
	border-radius:33px;
	transition: all 0.7s;
	font-size: 20px;
}

.expand:hover
{
	box-shadow: 2px 2px 2px 2px #888888;
	color: #44318D ;
	background-color: skyblue;
	width: 350px;
	overflow-y: hidden;
}


#contact
{
	display: flex;
	overflow:hidden;
	flex-wrap: wrap;
	left: 1450px;
	position: fixed;
	top: 100px;
	background-color:  #DC143C;
	height:200px;
	width: 900px;
	border-radius: 50px;
	transition: all 0.5s;
	z-index: 10;
	padding: none;
	margin:none;
}

#contact:hover
{
	left:1300px;
}

#contact ul
{
	position: absolute;
	left:-40px;
}



.content
{
	position: relative;
	top:0px;
	margin: none;
	background-color: #A4B3B6;
	padding-bottom:100px;
	height: 250px;
	padding-top:50px;
	z-index: 1;
}


.inst
{
	padding-top: 20px;
}


.push
{
	height: 50px;
}
.push input[type=text]
{
	margin-left: 10px;
	text-align: center;
  	border: none;
  	margin-top: 8px;
  	font-size: 22px;
 	 border-radius: 20px 0px 0px 20px;
  	border-style: none;
  	transition: width 0.4s ease-in-out;
  	width: 230px;

}


input[type=text]:focus {
  width: 300px;
}




.tracker
{
	width:220px;
	height: 60px;
	background-color:#D83F87 ;
	font-size: 20px;
	border-width: 0px;
	border-radius: 30px;
	transition: all 0.7s;
	color: white;
	cursor: pointer;
}

.tracker:hover
{
	transform: scale(1.03);
	box-shadow: 0px 3px 3px 3px #888888;
	background: linear-gradient(to right, #e96443, #904e95);
}


.search
{
	height: 27px;
	background-color: white;
	border-radius: 0px 20px 20px 0px;
	border-style: none;
}

.search:hover
{
	background-color: lightskyblue;
}




.up
{
	font-size: 20px;
	text-align: center;
	width:40px;
	height:40px;
	border-radius: 100%; 
	background-color: skyblue;
	border-style: none;
	margin: none;
	padding: none;
	transition: all 0.7s;
}

.up:hover
{
	border-style: double;
	transform: scale(1.03);
	color: purple;
	box-shadow: 0px 3px 3px 3px #888888;
}





#myDIV {
	position: relative;
	margin:none;
	display: none;
	flex-wrap: wrap;
  	width: 100%;
  	background-color: white;
  	height: 550px;
  	transition: all 0.7s;
  	overflow: auto;
}


#data
{
	left:-200px;
	width    :700px;
    height   : 380px;
    overflow: hidden;
    position: relative;
}

#my-iframe
{
	display: flex;
	border-style: none;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	width    : 100%;
    height   : 2000px;
    margin-top: -330px;
    margin-left:200px;
 }






a
{
	text-decoration: none;
	color: white;
	transition: all 0.7s;

}


li
{
	padding:5px;
}

ul
{
	text-decoration: none;
	list-style: none;

}




.donate
{
	padding: 20px;
	z-index: -3.5;
	top:5px;
	background:linear-gradient(to right, #44318D, #904E95);
	height: 290px;
	transform: skewY(-1deg);
	width:100%;
}

.donate p
{
	padding: 20px;
	margin-right: 20px;
	transform: skewY(1deg);
	font-size: 20px;
	width:90%;
	line-height: 29px;
}

.resources
{
	position: relative;
	padding: none;
	width:100%;
	height: 230px;
	background:#2A1B3D;

}

.res
{
	position: absolute;
	z-index: 3;
	width:220px;
	height: 60px;
	background-color:white ;
	font-size: 20px;
	border-width: 0px;
	border-radius: 30px;
	transition: all 0.7s;
	color: #2A1B3D;
	cursor: pointer;
}

.res:hover
{
	transform: scale(1.03);
	color: skyblue;
	border: 2px skyblue solid;
}



.footer
{
	bottom: 0px;
	left : 0;
    right:0;
    margin:none;
    width: 100%;
    text-align: center;
	height:50px;
	padding: 0px;
	font-size: 20px;
	color: white;
	background-color: #2A1B3D;
	z-index: -3;
}



@media screen and (max-width: 1000px) {

      .menu
      {
      	width: 60px;
      }
      #banner
      {
      	font-size: 20px;
      }
      .steps
      {
      	margin-left: 0px;
      }
      .tracker
      {
      	transform: scale(0.7);
      }
      .donate
      {
      	height: 110%;
      }
      .donate p
      {
      	font-size: 10px;
      }
      .footer
      {
      	font-size: 50%;
      	height:50%;
      }
      .box
      {
      	width:0px;
      }
      .head-content
      {
      	display:none;
      }
}
